* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    background: linear-gradient(
        192deg,
        rgba(219, 255, 189, 1) 0%,
        rgba(0, 212, 255, 1) 100%
    );
}

.btn {
    margin: 1%;
    padding: 2rem 3rem;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
}

.btn:active {
    transform: scale(98%);
}

.btn:hover {
    background-color: white;
}
